In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.model_selection  import train_test_split

In [4]:
df_home=pd.read_csv("MELBOURNE_HOUSE_PRICES_LESS.csv")
df_home

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63018,Roxburgh Park,3 Carr Pl,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63020,Roxburgh Park,5 Parkinson Wy,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63021,Thomastown,3/1 Travers St,3,u,NaN,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
63022,Williams Landing,1 Diadem Wy,4,h,NaN,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,17.6,Wyndham City Council

In [5]:
df_home.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price            14590
Method               0
SellerG              0
Date                 0
Postcode             0
Regionname           0
Propertycount        0
Distance             0
CouncilArea          0
dtype: int64

In [6]:
df_home["Price"]=df_home["Price"].fillna(np.mean(df_home["Price"]))
df_home.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Postcode         0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
dtype: int64

In [7]:
df_home.nunique()

Suburb             380
Address          57754
Rooms               14
Type                 3
Price             3418
Method               9
SellerG            476
Date               112
Postcode           225
Regionname           8
Propertycount      368
Distance           180
CouncilArea         34
dtype: int64

In [9]:
colums_list=["Date","Suburb","Address","SellerG","Regionname"]
df_home.drop(colums_list,axis=1,inplace=True)

In [10]:
df_home.shape

(63023, 8)

In [11]:
df_home.nunique()

Rooms              14
Type                3
Price            3418
Method              9
Postcode          225
Propertycount     368
Distance          180
CouncilArea        34
dtype: int64

In [12]:
df_home=pd.get_dummies(df_home,drop_first=True)
df_home.shape

(63023, 48)

In [13]:
df_home.head()

,Rooms,Price,Postcode,Propertycount,Distance,Type_t,Type_u,Method_PN,Method_S,Method_SA,...,CouncilArea_Moreland City Council,CouncilArea_Murrindindi Shire Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
0,3,1490000.0,3067,4019,3.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,3,1220000.0,3067,4019,3.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,3,1420000.0,3067,4019,3.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,3,1515000.0,3040,1543,7.5,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2,670000.0,3042,3464,10.4,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
x=df_home.drop("Price",axis=1)
y=df_home["Price"]

In [18]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
xscaled=sc.fit_transform(x)

In [19]:
xtrain,xtest,ytrain,ytest=train_test_split(xscaled,y,test_size=0.3,random_state=1)

In [20]:
lmodel=LinearRegression()
lmodel.fit(xtrain,ytrain)

LinearRegression()

In [21]:
lmodel.score(xtest,ytest)

0.42326459139423345

In [22]:
lmodel.score(xtrain,ytrain)

0.41896049564568827

In [29]:
lassomodel=Lasso(alpha=200,max_iter=200,tol=0.1)
lassomodel.fit(xtrain,ytrain)

Lasso(alpha=200, max_iter=200, tol=0.1)

In [30]:
lassomodel.score(xtest,ytest)

0.4233323058573766

In [31]:
lassomodel.score(xtrain,ytrain)

0.4188941592540043

In [32]:
rmodel=Ridge(alpha=200,max_iter=200,tol=0.1)
rmodel.fit(xtrain,ytrain)

Ridge(alpha=200, max_iter=200, tol=0.1)

In [33]:
rmodel.score(xtest,ytest)

0.42330320838399904

In [34]:
rmodel.score(xtrain,ytrain)

0.41892203750816703